*{
    margin: 0;
    padding: 0;
}

.container{
    width: 90%;
    margin: auto;
}
/* menu-bar */
.header{
     background-color: #f4f1ee;
}
.main-header{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
/* logo-width */
.logo{
    width: 10%;
}
.logo img{
    width: 100px;
    height: auto;
    justify-content: center;
}
/* menu-bar */
.menu-bar{
    width: 80%;
}
.menu-bar ul{
    display: flex;
    justify-content: center;
    
    
}
.menu-bar ul li {
    list-style: none;
    margin-left: 20px;
}
.menu-bar ul li a{
 text-decoration: none;
 font-size: 24px;
 background-color: cadetblue;
 padding: 10px 30px;
 border-radius: 10px;
 color: white;
}
/* button */
.btn-contact{
    width: 10%;
    
}
.btn-contact button{
    font-size: 24px;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: blueviolet;
    color: white;
}
/* hero-section */
.banner{
 text-align: center;
 padding: 100px 0;

}
.hero-heading{
    font-size: 60px;
    margin-top: 30px;
    line-height: 70px;
}
.gradeyan{
    text-transform: capitalize;
    border-radius: 10px;
    color: #fcfcfc;
    background: linear-gradient(90deg, rgba(130, 5, 240, 1) 0%, rgba(57, 143, 91, 1) 50%, rgba(237, 221, 83, 1) 100%);
}
.hero-paragraph{
    font-size: 25px;
    line-height: 35px;
    margin-top: 30px;

}
.btn{
    font-size: 25px;
    padding: 10px 25px;
    background-color: darkblue;
    border-radius: 10px;
    color: white;
    margin-top: 30px;
    margin-left: 10px;
}
/* hero-section-end */
/* demo-section-start */
.demo{
    text-align: center;
    padding: 50px 0;
    background: linear-gradient(90deg, rgba(130, 5, 240, 0.39) 0%, rgba(57, 143, 91, 0.171) 50%, rgba(237, 221, 83, 0.199) 100%);
}
.demo-heading-3{
    font-size: 24px;
    color: #2ba18f;
    line-height: 40px;
}
.demo-heading-1{
    font-size: 40px;
    line-height: 50px;

}
.demo-paragraph{
    font-size: 21px;
    width: 1100px;
    margin: auto;
    line-height: 25px;
    margin-top: 10px;
}
/* demo-crad */
.demo-crad{
    display: flex;
    justify-content: center;
}
.demo1{
    background-color: #ffffff;
    width: 150px;
    padding: 15px;
    border-radius: 8px;
    margin: 0 30px;
    margin-top: 40px;
}
.demo1 img{
    width: 100%;
}